
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



input:focus{
    border-bottom: 1px solid #047472;
}
.rightb{
    border-right: 1px solid #047472; 
}
.over{
    border-bottom: 1px solid #047472; 
}
.greenfade{
    background-color: #6ec1c0;
}
.green{
    background-color: #047472;
}

.alldivs{
    border-right: 3px solid  #047472 ;
}

.greentext{
    color:  #047472;
}